body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .btn {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  .personanjes{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 70px;
    border-radius: 10%;
  
  }
  